@layer tw-base, mantine;

@import "@mantine/core/styles.layer.css";
@import "@mantine/charts/styles.css";
@import "@mantine/notifications/styles.css";

@layer tw-base {
  @tailwind base;
}

@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary: 250 82 82;
  --secondary: 201 43 42;
}
